

/* transparency */
#voice-connection,.channel-members,.guilds-add,.theme-dark .headerBar-UHpsPw,.title-3qD0b-,#friends,.friends-header,.friends-table,.guilds-wrapper,.guild-header header,.channels-wrap,.private-channels,.guild-channels,.account,.friend-table-add-header,.chat,.chat form,.content,.title-wrap:not(.search-bar),.messages-wrapper,.messages .divider span,.messages .divider:before,.message-group-blocked,.is-local-bot-message,.channel-members-loading .heading,.channel-members-loading .member,.channel-members-loading,.typing-2GQL18,.layer,.layers,.container-PNkimc,.theme-dark .ui-standard-sidebar-view,.theme-dark .ui-standard-sidebar-view .sidebar-region,.theme-dark .ui-standard-sidebar-view .content-region,.theme-dark .noChannel-Z1DQK7{background: transparent !important}

/* main backgrounds */
.private-channels .channel.selected a{background-image: url(https://goo.gl/mXGFRM) !important; background-size:contain !important; border-radius: 0px; background-color: transparent;}
.container-2lgZY8 {background-color: #c4c2ab !important; background-image: url(https://i.imgur.com/LdKlGhN.jpg)!Important; background-size:cover !important;}
.theme-dark .ui-standard-sidebar-view{background-image: url(https://goo.gl/PYe8hB)!Important; background-size:cover !important;}

/* title bar */
.wordmark-2iDDfm,.winButton-iRh8-Z svg{display:none}
.titleBar-AC4pGV:before {position:absolute;content:"";height:15px;width:100vw;top:-3px;right:0;-webkit-app-region:drag}
.titleBar-AC4pGV{position:absolute;padding:9px;top:0;right:0;-webkit-app-region:no-drag;z-index:2}
.titleBar-AC4pGV .winButton-iRh8-Z{height:30px;width:30px;background:transparent center}
.titleBar-AC4pGV div:nth-of-type(2){background-image:url("https://cdn.discordapp.com/attachments/406778960484237322/406779041270464522/btn-close.svg")}
.titleBar-AC4pGV div:nth-of-type(3){background-image:url("https://cdn.discordapp.com/attachments/406778960484237322/406779041064943617/btn-maximize.svg")}
.titleBar-AC4pGV div:nth-of-type(4){background-image:url("https://cdn.discordapp.com/attachments/406778960484237322/406779041409138688/btn-minimize.svg")}
.title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci,.titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci,.headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci{margin-right:98px}
.title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci:after,.titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci:after,.headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci:after{background-color:hsla(0, 0%, 100%, 0.1);content:"";height:22px;width:1px}


/* scrollbar */
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #1e2124;
    border-color: rgba(54, 57, 62, 0);}
::-webkit-scrollbar-track-piece {background-color: transparent !Important; border-color: Transparent!important}

/* Avatar and status */
.container-iksrDt .avatar-small,.container-iksrDt .status {border-radius: 0px}
.image-33JSyf, .status-oxiHuE {border-radius: 0px !important}
.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge {
    background-clip: padding-box;
    background-color: none;
    background-position: 50%;
    border-radius: 0px
}
#app-mount .mask-3OgeRz{-webkit-mask:none;mask:none}

/* tooltips */
#app-mount .tooltip{background: rgb(65,64,56);color:rgb(212,205,186)}
.tooltip.tooltip-black.tooltip-top:after{border-top-color:rgb(65,64,56)}
.tooltip.tooltip-black.tooltip-right:after{border-right-color:rgb(65,64,56)}
.tooltip.tooltip-black.tooltip-bottom:after{border-bottom-color:rgb(65,64,56)}
.tooltip.tooltip-black.tooltip-left:after{border-left-color:rgb(65,64,56)}

/* popout shadow effect */
.popout-3sVMXz:not(.popouts-3dRSmE) {outline: 90vw solid hsla(180,3%,0%,.6)}

/* popout , menu & mic menu */
.theme-dark .menu-Sp6bN1{background:rgb(165,164,151)}
.theme-dark .item-1GzJrl{color:white}
.theme-dark .item-1GzJrl:hover{background:rgba(125,124,111,.9)}

.theme-dark.contextMenu-HLZMGh,.theme-dark .itemSubMenu-1vN_Yn{background:rgb(165,164,151)}
.theme-dark .item-1Yvehc:hover{background:rgba(125,124,111,.9)}

.theme-dark .themed-popout,.theme-dark .themed-popout .header{background:rgba(165,164,151,.85)!Important}

.theme-dark .modal-3HD5ck,.theme-dark .footer-2yfCgX{background-color:rgb(185,184,171)}
.theme-dark .content-8biNdB p, .theme-dark .content-8biNdB ul li{color:rgb(85,84,76)}

.small-popout-box{background:rgb(185,184,171);border-radius:0;border-color:rgb(85,84,76)}

.theme-dark .h5-18_1nd{color:rgb(85,84,76)}
.theme-dark .input-cIJ7To:focus{border-color:rgb(85,84,76)}
.lookFilled-1Gx00P.colorBrand-3pXr91{background-color: #8e1b35}


/* guild list */
.guilds-wrapper div>.guilds .guild{height:54px;margin:5px 0!important;background-color:rgba(12,12,12,.4);border-radius:14px/9%;pointer-events:none;z-index:2;box-shadow:0 2px 4px 1.4px rgba(0,0,0,.3);}
.guilds-wrapper div>.guilds button.guild{pointer-events:auto}
.guilds-wrapper{width:62px;z-index: 3; }.chat { z-index: 1}
.guilds-wrapper .scroller-wrap{width:76px} 
.guilds-wrapper .guilds{padding:0 0 55px 6px;background: rgba(0,0,0,.4)}
.guilds-wrapper .guilds .guild:hover{z-index:4}
.guilds-wrapper .guilds .guild:hover .guild-inner {background-color:Black !Important}
.guilds-wrapper .guilds .guild:hover .guild-inner,.guilds-wrapper .guilds .guild.selected .guild-inner{border-radius:16px/13px!important;transition:border-radius .3s cubic-bezier(.42,.51,.62,1.7);transform:translateY(5px);}
.guilds-wrapper .guilds .guild:hover .guild-inner a,.guilds-wrapper .guilds .guild.selected .guild-inner a{height:44px;line-height:44px}
.guilds-wrapper .guilds .guild .guild-inner{border-radius:20px/14px!important;transform:translateY(2px);transition:border-radius .25s cubic-bezier(.42,.51,.62,1.8);pointer-events:auto;display:flex;flex-flow:column;justify-content:center;}
.guilds-wrapper .guilds .guild .guild-inner a{width:60px;transform:translateX(-5px);box-shadow:inset 0 0 14px 3px rgba(0,0,0,.3);display:flex;justify-content:center;}
.guilds-wrapper .guilds .guild.unread:before{background:#8c8da0}
.guilds-wrapper .guilds .guild.active,.guilds-wrapper .guilds .guild.selected:before{background:rgba(255,255,255,.2)}
.guilds-wrapper .guilds .guild.selected:before {background: rgba(0,0,0,.4)}
.guilds-wrapper .guilds .guild.selected:before, .guilds-wrapper .guilds .guild.unread:before{left:0;top:0;width:100%;margin-top:0;height:100%;border-radius:0;z-index:-1;border-radius:24px/9%;margin-top:0}
.guilds-wrapper .guilds .guild .badge{left:0;right:0;bottom:unset;top:27px;height:27px;padding:0;z-index:-1;text-align:center;line-height:37px;border-radius:14px/9%;transition:padding-top .1s}
.guilds-wrapper .guilds .guild:hover .badge{padding-top:16px;transition:padding-top .2s cubic-bezier(.34,.49,.62,1.48);}
.guilds-add{color:transparent!important;background-image:url(https://i.imgur.com/1MfzLoF.png)!important;background-size:20px 20px!important;background-repeat:no-repeat!important;background-position:14px 14px!important;background-color:rgba(21,21,21,0.41)!important;opacity:.7!important}
.guilds-wrapper .guilds .friends-icon {background-image: url(https://cdn.discordapp.com/attachments/390677094289637388/428920861937106945/friendiconfinal.png);background-position: 50%;background-repeat: no-repeat;background-size: 42px 40px;height: 50px;width: 50px}
.guilds-wrapper .guilds .friends-icon{height:100%}
.guilds .active .guild-inner {background-color: rgba(0,0,0,0) !Important}

/* channel */
.guilds-wrapper:hover + div .channels-Ie2l6A, .app .channels-Ie2l6A:hover {left: 62px; opacity: 1}
.container-iksrDt {background-color: rgba(20, 20, 20,1);margin-bottom:21px !Important}
.channels-Ie2l6A {
    transition: 300ms !important;
    background: -webkit-linear-gradient(left, rgba(25, 25, 25, .9) 0.9%,rgba(25, 25, 25, .7) 100%) !important;
    box-shadow:-61px 0 rgba(10,10,10,.66);
    z-index: 2;
    position: absolute;
    opacity: 0;
    left: -170px;
    height: 98%;
    transition: all .2s ease
}
.unread-1Dp-OI {background-color:#f04747 !important;border-radius:10px;width:3px;height:30px;top:1px;margin-top:1px;left: 3px}
.icon-sxakjD {display: block; margin-right: -10px; opacity: 0}
.colorDefaultText-oas-QM,.colorDefaultVoice-3wYlhb,.colorLockedText-1VRkPt,.colorLockedVoice-2UlBjl, {color: #dbdcdc;text-shadow: 1px 1px 7px black}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB{color:#d63e3e}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {color: #f04747!important}
.private-channels .channel:hover a,.contentHoveredText-2D9B-x{background-color: rgba(0,0,0,.2); border-radius: 0px; transition: 0.1s}
.contentSelectedText-3wUhMi {background-color: rgba(0,0,0,0.6); border-radius: 0px; transition:0.1s}

/* chat */
.chat form {margin:0}
.channelTextArea-1LDbYG {margin:0}
.base-3dtUhz{border-radius:0}
.chat .new-messages-bar{background-color:rgb(137, 136, 124)}
.chat .new-messages-bar:hover{background-color:black}
.chat .messages, .container-iksrDt {background-color: rgba(0,0,0,0);}
.chat .avatar-large {border-radius: 2px;}
.theme-dark .typing-2GQL18{bottom:100%;width:auto}
.theme-dark .inner-zqa7da {border-radius: 0px; background-color:rgba(0,0,0,0.4)}
.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {color: #202225}
.theme-dark .autocomplete-1vrmpx{background-color:rgba(165,164,151,.8)}
.theme-dark .selectorSelected-1_M1WV{background:rgba(105,104,91,.3)}
.theme-dark .message-group .comment .markup {color: hsl(0, 0%, 100%); text-shadow: -1px -2px 7px black}
.theme-dark .message-group h2 strong {text-shadow: -1px -1px 1px rgba(0,0,0,.58)}
.theme-dark .message-group .comment .markup .mention{background:transparent;color:#f04747}
.theme-dark .message-group .comment .markup .mention:hover{background:transparent;color:rgb(200,101,101); text-shadow: -1px -2px 7px #f04747}

/*profile popout*/
.theme-dark .quickMessage-1yeL4E {background-color: transparent;border-color: transparent;color: hsla(0,0%,100%,.7)}
.theme-dark .headerNormal-T_seeN,
.theme-dark .headerNormal-T_seeN + .body-3iLsc4,
.theme-dark .headerNormal-T_seeN  ~ .footer-1fjuF6{background:rgba(165,164,151,.85)}
.headerPlaying-j0WQBV,
.headerPlaying-j0WQBV + .body-3iLsc4,
.headerPlaying-j0WQBV ~ .footer-1fjuF6{background:rgba(114,137,218,.85)}
.headerStreaming-2FjmGz,
.headerStreaming-2FjmGz  + .body-3iLsc4,
.headerStreaming-2FjmGz ~ .footer-1fjuF6{background:rgba(89,54,149,.85)}
.headerSpotify-zpWxgT,
.headerSpotify-zpWxgT  + .body-3iLsc4,
.headerSpotify-zpWxgT ~ .footer-1fjuF6{background:rgba(29,185,84,.85)}
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .topSectionNormal-2-vo2m + .body-3ND3kc{background:rgba(214, 213, 193, 0.85)}
.topSectionSpotify-1lI0-P,
.topSectionSpotify-1lI0-P + .body-3ND3kc{background: rgba(29,185,84,.85)}
.topSectionPlaying-1J5E4n,
.topSectionPlaying-1J5E4n + .body-3ND3kc{background: rgba(114,137,218,.85)}
.topSectionStreaming-1Tpf5X + .body-3ND3kc{background: rgba(89, 54, 149, .8)}

.avatarHint-1qgaV3 {border-radius: 0px}

/* emoji */
#app-mount #bda-qem-favourite-container, #app-mount #bda-qem-twitch-container,#app-mount .emojiPicker-3m1S-j{background: rgba(195,194,181,.8)}
#app-mount .emojiPicker-3m1S-j .header-1nkwgG .search-bar{background: transparent}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU{background: transparent}
#app-mount .emojiPicker-3m1S-j .category-2U57w6{background:rgb(65,64,56)}

#app-mount #bda-qem{background: rgba(195,194,181,.8);border-color:rgba(95,94,81,.8)}
#app-mount #bda-qem button{background:rgba(195,194,181,.8);border-radius:0;border-color:rgba(95,94,81,.8)}
#app-mount #bda-qem button:hover{background: rgba(145,144,131,.8)}
#app-mount #bda-qem button.active{background: rgba(125,124,111,.8)}

#app-mount #bda-qem-twitch-container .scroller::-webkit-scrollbar,#app-mount #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,#app-mount #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,#app-mount #bda-qem-favourite-container::-webkit-scrollbar,#app-mount #bda-qem-favourite-container::-webkit-scrollbar-track,#app-mount #bda-qem-favourite-container::-webkit-scrollbar-track-piece,#app-mount .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar,#app-mount .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,#app-mount .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece{background: transparent!Important;border:none!Important}
#app-mount #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb,.#app-mount #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb,#app-mount .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb{background: rgb(65,64,56)!Important}

/* friend */
.theme-dark #friends .friends-table .friends-row:hover{background:rgba(105,104,91,.3)}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected){background:rgb(95,94,81)}

/* recent mentions & pinned messages */
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
    border-radius:0;background-color: rgb(145,144,131)
}
.theme-dark .messagesPopoutWrap-1MQ1bW{border-radius:0;background:rgba(195,194,181,.8)}

.theme-dark .searchPopout-1vUlP3{background-color:rgba(165,164,151,.8)}
.theme-dark .option-96V44q.selected-rZcOL-{background: rgba(65,64,51,.6)}


.theme-dark .calendarPicker-2yf6Ci .react-datepicker,.theme-light .calendarPicker-2yf6Ci .react-datepicker{background-color: rgba(165, 164, 151, .85)}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,.theme-light .calendarPicker-2yf6Ci .react-datepicker__header {background-color: rgba(165, 164, 151, .85)}
.theme-dark.calendarPicker-2yf6Ci .react-datepicker__current-month,.theme-light .calendarPicker-2yf6Ci .react-datepicker__current-month {border-bottom-color: hsla(210,3%,87%,);color: white}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,.theme-light .calendarPicker-2yf6Ci .react-datepicker__day-name {color: white}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,.theme-light .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,.theme-light .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {color: white;background: rgba(65,64,51,.4)}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,.theme-light .calendarPicker-2yf6Ci .react-datepicker__day {color: red}

.theme-dark .search-results-wrap .search-result:before,.theme-dark .search-results-wrap .search-result:after,.search-results-wrap,.theme-dark .search-results-wrap .search-header,.theme-dark .search-results-wrap .search-result .hit{background:rgb(165,164,151)!important;border:1px rgb(105,104,81)!important;box-shadow:0 0 10px rgb(105,104,81)!important}
.theme-dark .search-results-wrap .channel-separator .channel-name{opacity:.85;background:rgb(165,164,151)!important}
.theme-dark .search-results-wrap .search-result.expanded,.theme-dark .search-results-wrap .action-buttons .jump-button,.search-results {background:rgb(125,124,111);border:none}
.search-results-wrap,.theme-dark .search-results-wrap .search-header,.theme-dark .search-results-wrap .search-result:before,.theme-dark .search-results-wrap .search-result:after,.theme-dark .search-results-wrap .channel-separator .channel-name,.theme-dark .search-results-wrap .search-result .hit {background:rgb(145,144,131)!important;border:none!important;box-shadow: 0 0 10px rgb(75,74,61) !important}

/* need help */
.need-help-modal.deprecated .header input[type=text]{box-shadow:0 2px 1px rgb(95,94,81)}
.form.deprecated .form-inner{background:rgb(195,194,181)}
.need-help-modal .header,.need-help-modal.deprecated .footer {border:none;background:rgb(145,144,131)!important;color:#3a71c1}
.need-help-modal.deprecated a{color:rgb(95,94,81)}

/* settings */
.ui-standard-sidebar-view,.chat {z-index:1}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52 {background: rgba(152,145,126,.5);font-weight: 600;color: rgb(75,74,66);border-radius: 0px}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover{width: 103%;background: rgba(65,64,56,.8)!Important;color: rgb(212,205,186)!Important}
.theme-dark .header-2RyJ0Y,#bd-settings-sidebar .ui-tab-bar-header{display:inline-table;width:auto;transform:translateX(-45%);font-weight:700;font-size:20px;color:rgb(65,64,56)!Important;text-shadow: 2px 3px rgba(65,64,56,.3)}
.side-8zPYf6 .item-PXvHYJ,#bd-settings-sidebar .ui-tab-bar-item{background:rgba(152,145,126,.5);font-weight:600;color:rgb(75,74,66);border-radius:0px}
.side-8zPYf6 .item-PXvHYJ:hover,.side-8zPYf6 .itemSelected-1qLhcL,#bd-settings-sidebar .ui-tab-bar-item:hover{width:103%;background:rgba(65,64,56,.8)!Important;color:rgb(212,205,186)!Important}
.ui-standard-sidebar-view .bda-slist .bda-description { border-top: 1px solid #000000; color: #ffffff; text-shadow: 1px 1px 2px black;}
.ui-standard-sidebar-view .content-region { margin-top: 80px; margin-bottom: 20px;}
.ui-standard-sidebar-view .tools { margin-right: 0px; padding-top: 0px;}
.ui-standard-sidebar-view .btn-close{ border-radius: 0}

/* make quickswitcher transparent */
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {background: TRansparent url(/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg) no-repeat center 35px;padding: 100px 20px 20px}

/*the badged in profile for userslinked accouts */
.connectedAccount-36nQx7{position: relative}
.connectedAccountIcon-3P3V6F,.connectedAccountName-f8AEe2,.connectedAccountVerifiedIcon-3aZz_K, .body-3ND3kc a {z-index:1;color:white;border-color:transparent}
img[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] + div:before {content:"";height:46px;width:262px;background:hsl(0, 0%, 10%);position:absolute;margin-left:-38px}
img[src="/assets/ff3516ac66b71ef616b1df63e20fee65.png"] + div:before {content:"";height:46px;width:262px;background:hsl(0, 95%, 40%);position:absolute;margin-left:-38px}
img[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] + div:before {content:"";height:46px;width:262px;background:hsl(40, 75%, 40%);position:absolute;margin-left:-38px}
img[src="/assets/4662875160dc4c56954003ebda995414.png"] + div:before {content:"";height:46px;width:262px;background:hsl(200, 100%, 45%);position:absolute;margin-left:-38px}
img[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] + div:before {content:"";height:46px;width:262px;background:hsl(15, 90%, 45%);position:absolute;margin-left:-38px}
img[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] + div:before {content:"";height:46px;width:262px;background:hsl(200, 80%, 30%);position:absolute;margin-left:-38px}
img[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] + div:before {content:"";height:46px;width:262px;background:hsl(260, 40%, 30%);position:absolute;margin-left:-38px}
img[src="/assets/5be6cc17e596c02e7506f2776cfb1622.png"] + div:before {content:"";height:46px;width:262px;background:hsl(205, 70%, 40%);position:absolute;margin-left:-38px}
img[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] + div:before {content:"";height:46px;width:262px;background:hsl(140, 75%, 35%);position:absolute;margin-left:-38px}
img[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] + div:before {content:"";height:46px;width:262px;background:hsl(235, 75%, 25%);position:absolute;margin-left:-38px}
