//META{"name":"Nier_Automata_Theme_TjRen","description":"Everything that lives is designed to end. We are perpetually trapped in a never-ending spiral of life and death. Is this a curse? Or some kind of punishment?","author":"Bastion_and_TjRen","version":"A2"}*//{}

 @import url(https://rawgit.com/ImBastion/BD-Themes/master/NoA2.theme.css);


/*:root {
  --animated-bg: url(https://j.gifs.com/kZ8Dpr.gif);
  --static-bg: url(https://i.imgur.com/462bubR.jpg);
}*/

/*Transparency*/
#voice-connection, #friends, .friends-header, .friends-table, .guilds-wrapper, .guild-header header, .channels-wrap, .private-channels, .guild-channels, .account, .friend-table-add-header, .chat, .content, .layers, .title-wrap:not(.search-bar), .messages-wrapper, .messages .divider span, .messages .divider:before, .content, .message-group-blocked, .is-local-bot-message, .channel-members-loading, .channel-members-loading .heading, .channel-members-loading .member, .typing, .layer, .layers, .container-RYiLUQ, .theme-dark .ui-standard-sidebar-view, .theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region, .layer, .layers {
    background: transparent !important;
}
.container-2OU7Cz, .channels-3g2vYe   {
    background-color: transparent !important;
}

/*Thanks to xNightWulf, uri and TjRen for the ideas and major fixes*/
/* this is the File to load the Theme */
