.app {
    background-image: url(https://i.imgur.com/462bubR.jpg) !Important; 
    background-size:cover !important;
}
.scroller-fzNley {
    background-color: rgba(0,0,0,0.25);
}
.private-channels .search-bar {
    background-color: rgba(0,0,0,1);
}
.channel-members .member.member-status-offline .avatar-small {
    border-radius: 2px;
    background-color: transparent;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd),
.ui-standard-sidebar-view .bda-slist li{
    border-top: 1px solid #2b2b2b;
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 80%,rgba(125,185,232,0) 100%); 
}
.avatar-large {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    border-radius: 10px;
    box-shadow: 0px 0.8px 0.5px rgb(255, 255, 255);
    margin-left: 9px;
}
.channel-members .avatar-small {
    border-radius: 2px;
    background-color: transparent;
} 
.private-channels .status {
    border-radius: 2px;
}
.theme-dark .title-qAcLxz {
    background-color: rgba(0,0,0,1);
}
.channels-3g2vYe [class*=scroller-]>[class*=container-]>div:first-of-type>[class*=container], .channels-wrap [class*=scroller-]>[class*=container-]>div:first-of-type>[class*=container],
.channels-wrap [class*=scroller-]>[class*=container-]>[class*=container]:first-of-type, .channels-3g2vYe [class*=scroller-]>[class*=container-]>[class*=container]:first-of-type {
    padding-top: 8px;
}
.container-iksrDt {
    background: rgba(0,3,6,0.6);
}
.theme-dark .search .search-bar {
    border-radius: 2px;
}
.theme-dark .channel-members {
    background-color: transparent;
    background:-webkit-linear-gradient(top, rgba(0,0,0,0.8) 35%,rgba(125,185,232,0) 100%);
}
.theme-dark .chat form {
    background-color: transparent;
}
.header-1tSljs:hover {
    background-color: rgba(0,0,0,.1);
}
.header-1tSljs {
    background-color: rgba(35,35,35,1)
}
.contentSelectedText-3j5CXt {
    border-radius: 0px;
}
.chat .avatar-large {
    border-radius: 2px;
    background-color: transparent;
    
}
.private-channels .channel.selected a {
    margin-left: 0px;
    border-radius: 0px;
}
.private-channels .channel:hover a {
    border-radius: 0px;
    margin-left: 0px;
    transition: 0.1s;
    background-color: rgb(79,84,92)
}
.search-bar input {
  border-radius: 2px;
  background-color: hsla(0,0%,100%,.1); !important;
}
.ui-standard-sidebar-view .content-region-scroller {
    background: transparent;
}
.theme-dark .inner-3if5cm {
    border-radius: 2px;
    background-color: hsla(230, 0%, 10%, 0.8);
}
.theme-dark .message-group .comment .markup {
    color: rgba(255, 255, 255, 1) !important;
}
.platform-win .container-2oOGIt {
    padding-top: 0px;
    top: -150px;
    height: 400px;
    width: 300px;
    margin-left: 700px;
    margin-top: 350px;
    background-color: transparent;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 70%,rgba(125,185,232,0) 100%);
}
.content-3dsgDG {
    text-align: center;
    margin-bottom: 120px;
}
.links-3m0VgL {
    color: white;
}
.scroller-fzNley {
    background-color: transparent;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 35%,rgba(125,185,232,0) 100%);
}
.private-channels .channel .avatar-small {
    border-radius: 2px;
}
.theme-dark .message-group h2 strong {
    border-radius: 2px !important;
}
.theme-dark .message-group h2 span {
    color: #ffffff;
}
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller {
    background-color: transparent !important;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 30%,rgba(125,185,232,0) 100%); 
}
.guilds-wrapper .guilds {
    background-color: transparent !important;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 30%,rgba(125,185,232,0) 100%);
}
.guild-inner {
    background-color: transparent !important;
}
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://i.imgur.com/9NQdLVQ.png) !important;
    background-size: 32px 40px;
    height: 40px;
    width: 50px;
}
.typeWindows-15E0Ys, titleBar-3_fDwJ horizontalReverse-k5PqxT flex-3B1Tl4 directionRowReverse-2eZTxP justifyStart-2yIZo0 alignStretch-1hwxMa { 
    margin: 0px;
    height: 20px;
    background-color: rgba(0,0,0,0.8);
}
.autocompleteInner-N7OQf1 {
    background: rgba(35, 35, 35,1);
    border: 1px solid var(--M-Colour);
}
.theme-dark .autocomplete-1TnWNR,
.autocomplete-1TnWNR {
    background: rgba(0, 0, 0, 0.23);
}
.theme-dark .message-group .comment .markup code.inline,
.theme-dark .message-group .comment .markup pre code {
    background: rgba(0,0,0,0.2) !important;
    border-radius: 2px;
}
.theme-dark .message-group .comment .markup pre {
    background: rgb(35,35,35);
    border-color: rgb(205,205,205);
    border-radius: 2px;
}
.message-group:not(.compact) .avatar-large[style*="99190297551994880"] ~ .comment .message h2 span.username-wrapper::after {
    content: "Theme Dev"!important;
    color: #ffffff!important;
    border-radius: 0px!important;
    border: 1px solid #ffffff!important;
    background: rgba(255, 255, 255, 0.0980392)!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 4px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
}
.channel-members .member .avatar-small[style*="99190297551994880"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Theme Dev"!important;
    color: #ffffff!important;
    border-radius: 0px!important;
    border: 1px solid #ffffff!important;
    background: rgba(255, 255, 255, 0.0980392)!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 0px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
    line-height:16px!important;
}
#bd-customcss-detach-container {
    background-color: rgb(0,0,0);
}
.chat .scroller {
    background-color: transparent !important;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 39%,rgba(125,185,232,0) 100%);
}
.CodeMirror-scroll,
.CodeMirror-gutter {
    background-color: rgb(0,0,0) !important;
}
