.app {
    background-image: url(https://i.imgur.com/6danWo3.png) !Important; 
    background-size:cover !important;
}
.scroller-fzNley {
    background-color: rgba(0,0,0,0.25);
}
.guilds-wrapper .guilds {
    background-color: rgba(35,35,35,1);
}
.guild-inner {
    background-color: transparent !important;
}
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://i.imgur.com/9NQdLVQ.png) !important;
    background-size: 32px 40px;
    height: 40px;
    width: 50px;
}
.typeWindows-15E0Ys, titleBar-3_fDwJ horizontalReverse-k5PqxT flex-3B1Tl4 directionRowReverse-2eZTxP justifyStart-2yIZo0 alignStretch-1hwxMa { 
    margin: 0px;
    height: 20px;
    background-color: rgba(0,0,0,0.8);
}
.autocompleteInner-N7OQf1 {
    background: rgba(35, 35, 35,1);
    border: 1px solid var(--M-Colour);
}
.theme-dark .autocomplete-1TnWNR,
.autocomplete-1TnWNR {
    background: rgba(0, 0, 0, 0.23);
}
.theme-dark .message-group .comment .markup code.inline,
.theme-dark .message-group .comment .markup pre code {
    background: rgba(0,0,0,0.2) !important;
    border-radius: 2px;
}
.theme-dark .message-group .comment .markup pre {
    background: rgb(35,35,35);
    border-color: rgb(205,205,205);
    border-radius: 2px;
}
.message-group:not(.compact) .avatar-large[style*="99190297551994880"] ~ .comment .message h2 span.username-wrapper::after {
    content: "Theme Dev"!important;
    color: #ffffff!important;
    border-radius: 3px!important;
    border: 1px solid #ffffff!important;
    background: rgba(255, 255, 255, 0.0980392)!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 4px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
}
.channel-members .member .avatar-small[style*="99190297551994880"] ~ .member-inner .member-username .member-username-inner::after {
    content: "Theme Dev"!important;
    color: #ffffff!important;
    border-radius: 3px!important;
    border: 1px solid #ffffff!important;
    background: rgba(255, 255, 255, 0.0980392)!important;
    margin-left: 6px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    vertical-align: bottom!important;
    padding: 1px 0px!important;
    line-height: 14px!important;
    flex-shrink: 0!important;
    -webkit-flex-shrink: 0!important;
    line-height:16px!important;
}
#bd-customcss-detach-container {
    background-color: transparent;
}
.chat .scroller {
    background-color: rgba(0,0,0,0.6);
}
