/*//META{"name":"Nier_Automata_Theme_TjRen","description":"Everything that lives is designed to end. We are perpetually trapped in a never-ending spiral of life and death. Is this a curse? Or some kind of punishment?","author":"Bastion_and_TjRen","version":"A2"}*//**/

 @import url("https://imbastion.github.io/BD-Themes/NoA2.theme.css");

/* this is the File to load the Theme */
